* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-family: Montserrat;
}
.wrapper {
  color: fff;
  display: flex;
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.photo {
  width: 370px;
}
.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contact-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.contact-title {
  font-size: 22px;
  font-weight: 700;
  font-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.contact-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #758da5;
}
.contacts-link-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 20px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 44px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.tech-skills-text {
  color: #edeeef;
}

.soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 44px;
}

.soft-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.soft-skills-text {
  color: #edeeef;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.intro {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  width: 415px;
}

.about-me {
  margin-bottom: 65px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.project-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}

.work-time {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
}

.profession-text {
  margin-top: 14px;
  margin-bottom: 30px;
}

.project-number {
  font-weight: 700;
  margin-left: 17px
}

.dots {
  #a8a8a8;
  font-weight:100; 
}

.projects-container {
  margin-bottom: 55px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.work-place {
  color: #ff6b08;  
}

.work-duties {
  font-size: 14px;
  font-weight: 400;
  color: #595959;
  line-height: 24px;
}

.uni-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  height: 16px;
  color: #ff6b08;
  margin-bottom: 15px;
}

.study-program {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  height: 13px;
  margin-bottom: 15px;
}
